﻿
@{
    ViewBag.Title = "Email Confirmation Sent";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/global_styles.css" />
</head>

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <div>
        <br />
        <p>
            Please check the email you provided to complete the account confirmation.
        </p>
    </div>
</main>