@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/global_styles.css" />
</head>

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title</h1>
    </hgroup>
    <hr />
    <div>
        <p>
            Please check your email for a message with instructions to reset your password.
        </p>
    </div>
    <br />
</main>