﻿@{
    ViewBag.Title = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/global_background.css" />
</head>

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Slush Banking</h1>
        <p class="lead">This website is a mockup (fake) website that uses my other fake banking website to simulate a storefront.. It uses C#, ASP.Net Identity with Razor HTML and Bootstrap.</p>
    </section>
    <br />
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                The sus, amogus.
            </p>
        </section>
    </div>
    <br />
    <section class="about-section">
        <p>I am a graduate from Arizona State University under the IRA Fulton Schools of Engineering. I decided to make a banking website to showcase the skills I have learned.</p>
    </section>
    <br />
    <section class="contact-section">
        <h2>Contact Information</h2>
        <address>
            <strong>Email Address:</strong> <a href="mailto:JSlush95@gmail.com">JSlush95@gmail.com</a>
        </address>
    </section>
</main>