@{
    ViewBag.Title = "Access Denied";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/global_styles.css"  asp-append-version="true" />
</head>

<h2>Access Denied</h2>
<hr />
<br />
<p>You do not have permission to access this page.</p>